<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>457502558799-gpn8v456o994adf2o8b6jla41381oq4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457502558799-gpn8v456o994adf2o8b6jla41381oq4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBeQ5Ld0cRP6E670cr9o8FGeBC8aVrddkU</string>
	<key>GCM_SENDER_ID</key>
	<string>457502558799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifgabsp.projectGet</string>
	<key>PROJECT_ID</key>
	<string>fir-21312011</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-21312011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457502558799:ios:929a90ff8b56ceec3ef83a</string>
</dict>
</plist>